<section class="d-flex flex-column align-items-start mt-2 w-75">
  <h3 class="roboto-bold fs-5 mt-1">Comments</h3>
  <div id="comments" class="row row-cols-3 w-100">
    <% comments.each do |comment| %>
      <div class="col">
        <%= render partial: "comments/comment", locals: { comment: comment } %>
      </div>
    <% end %>
  </div>
</section>
