<div>
  <h1>Welcome back!</h1>
  <h3>Ready to return to this legendary journey?</h3>
  <%= link_to "Sign in", new_user_session_path %>
  <hr>
  <h3>Want to start a new legend with us?</h3>
  <%= link_to "Sign up", new_user_registration_path %>
</div>
